<h1>Calculate the square of a number</h1>

<form action="/square/results">
  <label for="user_square_input">Enter a number</label>
  <input id="user_square_input" type="text" name="users_number">

  <button>Calculate square</button>
</form>
