<h1>Calculate a monthly payment</h1>

<form action="/payment/results">
  <label for="user_apr_input">Enter a number</label>
  <input id="user_apr_input" type="text" name="users_apr_number" placeholder="E.g. 5.42">

  <label for="user_years_input">Number of years?
  <input id="user_years_input" type="text" name="user_years_number" placeholder="How many years to repay?">

  <label for="user_principal_input">Principal?
  <input id="user_principal_input" type="text" name="user_principal_number" placeholder="How much principal?">

  <button>Calculate monthly payment</button>
</form>
