<h1>Calculate a monthly payment</h1>

<form action="/payment/results">
  <label for="apr_input">APR</label>
  <input id="apr_input" type="text" name="users_apr" placeholder="E.g. 5.42">

  <label for="years_input">Number of years?
  <input id="years_input" type="text" name="users_years" placeholder="How many years to repay?">

  <label for="principal_input">Principal?
  <input id="principal_input" type="text" name="users_pv" placeholder="How much principal?">

  <button>Calculate monthly payment</button>
</form>
