<h1>Random Results</h1>

<dl>
  <dt>
    Minimum
  </dt>
  <dd>
    <%= @the_little_num %>
  </dd>
<dt>
    Maximum
  </dt>
  <dd>
    <%= @the_big_num %>
  </dd>
  <dt>
    Random Number
  </dt>
  <dd>
    <%= @the_results %>
  </dd>
</dl>

<a href="/random/new">
  Pick another random number
</a>
